extends layout

block content
    .uk-container
        .header-transparent
            a(href="/").menu-icon
                span(uk-icon="icon: home")


        .dashb_section.extra-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | 
                .uk-margin
                    canvas#cpugraph

            .dashb_section.min-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | 
                .uk-margin
                    canvas#memgraph


    script.
        


              
          