extends layout

block content
  .container_flex.app_container_wrapper
    .uk-container
      .dashb_section.extra-margin
        .uk-card.uk-card-default.uk-card-body.card-border-radius
          .uk-card-title
              | Create Test 
          .uk-margin
              button.uk-button.uk-button-primary(type="submit") Update

      .dashb_section.min-margin
        .uk-card.uk-card-default.uk-card-body.card-border-radius
          .uk-card-title
              | Create Test 
              
          