extends layout

block content
  .uk-container

    .header-transparent
      .menu-home
        a(href="/")
          .menu-icon
              span(uk-icon="icon: home")

    .dashb_section.extra-margin
        .uk-card.uk-card-default.uk-card-body.card-border-radius
            ul.uk-subnav.uk-subnav-pill(uk-switcher onclick='')
                li(onclick='toggle_wrapper("createtest");')
                    a(href='#') Create Test
                li(onclick='toggle_wrapper("findhistory");') 
                    a(href='#') Historical Data
                li(onclick='toggle_wrapper("comparetest");')
                    a(href='#') Compare Frameworks

    //create and run bigdata test
    .container_wrapper#createtest
        .dashb_section.min-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | Create Test 
                .uk-margin
                    p Select Processing Method
                    .uk-margin
                    select.uk-select#selectmethod(onchange='updateframework();') 
                        option(value='batch') Batch-only
                        option(value='stream') Stream-only
                        //option(value='hybrid') Hybrid
                .uk-margin
                    p Select framework
                    .uk-margin
                    select.uk-select#selectframework 
                
                .uk-margin
                    button.uk-button.uk-button-primary(type="submit" onclick='scheduledTasks();') Add Test
        
        .dashb_section.min-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | Scheduled Tests
                
                //schedule list goes here
                .uk-margin#scheduledtasks
                .uk-margin
                    form(method='post' action='/sorter')
                        input#secretinput(type='hidden' name='jobs' value='')
                        a(href="/progress")
                            button.uk-button.uk-button-primary(type="submit") Run Tests
                        button.uk-button.uk-button-default.uk-float-right(type="button" onclick='clearList();') Clear List
    
    //Wrapper to find history of each bigdata
    .container_wrapper#findhistory
        .dashb_section.min-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | Historical Data of Big data frameworks
                .uk-margin
                    .uk-card.uk-card-default.uk-card-body
                        a(href='/history?reqdb=hadoop')
                            .uk-card-badge.uk-label View History
                        .uk-card-title Apache Hadoop
                        img(src='/img/hadoop.png' width='200' height='100')
                        p Description

                .uk-margin
                    .uk-card.uk-card-default.uk-card-body
                        a(href='/history?reqdb=storm')
                            .uk-card-badge.uk-label View History
                        .uk-card-title Apache Storm
                        img(src='/img/storm.png' width='200' height='100')
                        p Description

                .uk-margin
                    .uk-card.uk-card-default.uk-card-body
                        a(href='/history?reqdb=samza')
                            .uk-card-badge.uk-label View History
                        .uk-card-title Apache Samza
                        img(src='/img/samza.png' width='200' height='100')
                        p Description

                .uk-margin
                    .uk-card.uk-card-default.uk-card-body
                        a(href='/history?reqdb=spark')
                            .uk-card-badge.uk-label View History
                        .uk-card-title Apache Spark
                        img(src='/img/spark.png' width='200' height='100')
                        p Description

                .uk-margin
                    .uk-card.uk-card-default.uk-card-body
                        a(href='/history?reqdb=flink')
                            .uk-card-badge.uk-label View History
                        .uk-card-title Apache Flink
                        img(src='/img/flink.png' width='200' height='100')
                        p Description


    //compare bidata
    .container_wrapper#comparetest
        .dashb_section.min-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | Compare Framworks
                .uk-margin



  script.
    //document onload actions
    window.onload = function(){
        //update frameworks
        updateframework();
        defaultcard();

    }

    //empty the options
    function resetOptions(id){
        var options = id.options;
        options.length = 0;
    }


    //update framework list
    function updateframework(){
        var selected = document.getElementById('selectmethod').value;
        var frameworks = document.getElementById('selectframework');
        //reset the options
        resetOptions(frameworks);


        //add otions
        var hadoop = document.createElement('option');
        hadoop.value = 'hadoop';
        hadoop.text  = 'Apache Hadoop';

        var storm = document.createElement('option');
        storm.value = 'storm';
        storm.text  = 'Apache Storm';

        var samza = document.createElement('option');
        samza.value = 'samza';
        samza.text  = 'Apache Samza';

        var spark = document.createElement('option');
        spark.value = 'spark';
        spark.text  = 'Apache Spark';

        var flink = document.createElement('option');
        flink.value = 'flink';
        flink.text  = 'Apache Flink';

        if(selected == "batch"){
            //console.log("batch selected")
            frameworks.add(hadoop, null);
            frameworks.add(spark, null);
            frameworks.add(flink, null);
        }else if(selected == "stream"){
            //console.log("stream selected")
            frameworks.add(storm, null);
            frameworks.add(samza, null);
            frameworks.add(spark, null);
            frameworks.add(flink, null);
        }
        //- }else if(selected == "hybrid"){
        //-     //console.log("hybrid selected")
        //-     frameworks.add(spark, null);
        //-     frameworks.add(flink, null);
        //- }
        else{
            console.log("nothing selected")
        }
    }

    /** global var **/
    var schedule = [];

    //schedule the tasks for executing
    function scheduledTasks(){
        var process = document.getElementById('selectmethod').value;
        var framework = document.getElementById('selectframework').value;

        var sch = {
            "job" : {
                "method": process,
                "framework" : framework
            }
        }

        //add the job to list
        schedule.push(sch);
        
        //update the schedule list
        updateList();

        console.log(schedule);
    }

    //clear the jobs
    function clearList(){
        schedule = [];
        updateList();

        console.log(schedule);
    }

    //update the scheduled list dynamically
    function updateList(){
        var scheduler = document.getElementById('scheduledtasks');
        //enter the updated list into post input
        var secretjob = document.getElementById('secretinput').value = JSON.stringify(schedule);
        
        //empty before update
        scheduler.innerHTML = "";
        for(var i = 0; i < schedule.length; i++){
            var content = "<div class='sch-test-cont'><b>Test "+ (i+1) +"</b>&nbsp&nbsp&nbsp&nbsp <b>Apache "+schedule[i].job.framework+"</b> | "+schedule[i].job.method+"</div>";

            //add the job to list
            scheduler.innerHTML += content;
        }
    }

    //display default card
    function defaultcard(){
        document.getElementById('createtest').style.display = 'block';
    }

    //clear all visibility wrappers
    function hide(){
        document.getElementById('createtest').style.display = 'none';
        document.getElementById('findhistory').style.display = 'none';
        document.getElementById('comparetest').style.display = 'none';
    }

    function toggle_wrapper(displayid){
        hide();
        document.getElementById(displayid).style.display = 'block';
    }
