extends layout

block content
  .center-card
    .uk-container
        .uk-card.uk-card-default.uk-card-body.card-border-radius
            .uk-margin
                progress.uk-progress(value="20" max="100")
            .uk-margin
                .progress-log
                    
            .uk-margin
                button.uk-button.uk-button-danger(type="submit") Terminate