extends layout

block content
    .uk-container
        .header-transparent
            a(href="/").menu-icon
                span(uk-icon="icon: home")


        .dashb_section.extra-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | SAMAZA CPU
                .uk-margin
                    canvas#myChart

            .dashb_section.min-margin
            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-card-title
                    | Graph 2


    script.
        var graph_labels = [#{graph_labels}];
        var graph_cpu = [#{graph_cpu}];
        var graph_mem = [#{graph_mem}];

        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                //labels: ["January", "February", "March", "April", "May", "June", "July"],
                labels: graph_labels,
                datasets: [{
                    label: "CPU",
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    //data: [0, 10, 5, 2, 20, 30, 45],
                    data: graph_cpu,
                },
                {
                    label: "MEM",
                    borderColor: 'rgb(255, 99, 132)',
                    //data: [0, 10, 5, 2, 20, 30, 45],
                    data: graph_mem,
                }],
                
            },

            // Configuration options go here
            options: {}
        });
              
          