extends layout

block content
    .center-card
        .uk-container
            .header-transparent
                a(href="/").menu-icon
                    span(uk-icon="icon: home")

            .uk-card.uk-card-default.uk-card-body.card-border-radius
                .uk-margin
                    | Following tests have been completed
                .uk-margin
                    .progress-log
                        - for(var i = 0; i < completed.length; i++)
                            - var link = links[i]
                            - var text = completed[i]
                            a(href=link target='_blank') 
                                p=text